::ng-deep .mat-select-panel{
    max-height: none!important;
 }

 .center-box {
    display: flex;
    align-items: center;
    justify-content: center;    
  }

  .nav-toolbar {
    margin: 1em;
  }

.my-3 {
  margin-top: 1em;
}

  mat-header-cell, mat-cell {
  justify-content: center;
}

.row-data{
  text-align: center !important;
}

.mat-card {
  width: 80%;
}

.mat-toolbar {
    background-color: rgba(0,0,0,.04);
}

table{
    width: 90%;
}
th.mat-sort-header-sorted {
    color: black;
  }

//   html, body, app-root, .app-frame {
//     overflow: hidden;
//     margin: 0;
//     height: 100%;
//     box-sizing: border-box;
//     color: #e0e0e0;
// }

// app-root {
//     background: map-get($mat-dark-theme-background, background );
//   }