<div class="container cot-table">
  <div class="row">
    <div class="row">
      <img src="/assets/images/logo.PNG" class="center">
    </div>
</div>

<div class="row">
  <div class="card center">

    <table class="table table-striped table-bordered table-sm row-border hover" id="datatableexample">
      <thead>
        <tr>
          <th>Report Date</th>
          <th>Longs</th>
          <th>Shorts</th>
          <th>Change Long</th>
          <th>Change Short</th>
          <th>% Long</th>
          <th>% Short</th>
          <th>Net Positions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let group of data">
          <td>{{group.reportDate}}</td>
          <td>{{group.longPositions}}</td>
          <td>{{group.shortPositions}}</td>
          <td>{{group.changeLong}}</td>
          <td>{{group.changeShort}}</td>
          <td>{{group.percentageLong}}</td>
          <td>{{group.percentageShort}}</td>
          <td>{{group.netPositions}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>