.card {
    padding: 2em;
    width: 70%;
}

th, td { text-align: center; }

.my-logo {
    width: 60%;
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;  
}  

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 85px;
    padding: 1em;

}