.center-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.row-data{
  text-align: center !important;
}

.center {
  display: flex;
  justify-content: center;
}