<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">Commitment of Traders</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" mdbWavesEffect>
          <mdb-icon fas icon="envelope"></mdb-icon> Contact<span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>
          <mdb-icon fas icon="cog"></mdb-icon> Settings
        </a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <mdb-icon fas icon="user"></mdb-icon> Profile<span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">My account</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Log out</a>
        </div>
      </li>

    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

<div class="row justify-content-center my-3">
  <div class="btn-group" mdbDropdown>
    <button mdbDropdownToggle type="button" mdbBtn size="sm" color="indigo" class="dropdown-toggle waves-light"
      mdbWavesEffect>
      select instrument
    </button>

    <div class="dropdown-menu">
      <div *ngFor="let column of colData" class="dropdown-item center-box" (click)="getReportBySymbol(column.pair)">
        {{column.pair}}
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="reports.length > 0">
  
  <table #table class="table home-table">
    <thead>
      <tr>
        <th class="row-data">Report Date</th>
        <th class="row-data">Long</th>
        <th class="row-data">Short</th>
        <th class="row-data">Change Long</th>
        <th class="row-data">Change Short</th>
        <th class="row-data">% Long</th>
        <th class="row-data">% Short</th>
        <th class="row-data">Net Positions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let report of reports">
        <td class="row-data">{{report.reportDate}}</td>
        <td class="row-data">{{report.longPositions}}</td>
        <td class="row-data">{{report.shortPositions}}</td>
        <td class="row-data">{{report.changeLong}}</td>
        <td class="row-data">{{report.changeShort}}</td>
        <td class="row-data">{{report.percentageLong}} %</td>
        <td class="row-data">{{report.percentageShort}} %</td>
        <td class="row-data">{{report.netPositions}}</td>
      </tr>
    </tbody>
  </table>

</div>

