<div class="container cot-table">
  <div class="row">
    <div class="row">
      <img src="/assets/images/logo.PNG" class="center">
    </div>
</div>

<div class="row">
  <div class="card center">
    <div class="div justify-content-center">
    <mat-radio-group aria-label="Select an option" class="my-radio-group" [(ngModel)]="selection" (change)="handleChange(selection)">
      <label>AUD <mat-radio-button value="AUD" [checked]='true'></mat-radio-button></label>
      <label>EUR <mat-radio-button value="EUR" class=""></mat-radio-button></label>
      <label>GBP <mat-radio-button value="GBP" class=""></mat-radio-button></label>
      <label>CHF <mat-radio-button value="CHF" class=""></mat-radio-button></label>
      <label>CAD <mat-radio-button value="CAD" class=""></mat-radio-button></label>
      <label>NZD <mat-radio-button value="NZD" class=""></mat-radio-button></label>
      <label>JPY <mat-radio-button value="JPY" class=""></mat-radio-button></label>
      <label>MXN <mat-radio-button value="MXN" class=""></mat-radio-button></label>
      <label>ZAR <mat-radio-button value="ZAR" class=""></mat-radio-button></label>
      <label>BTC <mat-radio-button value="BTC" class=""></mat-radio-button></label>
      <label>GOLD <mat-radio-button value="ZAR" class=""></mat-radio-button></label>
      <!-- <label>CHF <input type="radio" name="currency"  id="chf_currency" checked="checked" onChange="currencyChanged()" /></label> -->
    </mat-radio-group>
    </div>

    <table class="table table-striped table-bordered table-sm row-border hover" id="datatableexample">
      <thead>
        <tr>
          <th>Report Date</th>
          <th>Longs</th>
          <th></th>
          <th>Shorts</th>
          <th></th>
          <th>Change Long</th>
          <th>Change Short</th>
          <th>% Long</th>
          <th>% Short</th>
          <th>Net Positions</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let group of data">
          <td>{{group.reportDate}}</td>
          <td>{{group.longPositions}}</td>
          <td *ngIf="group.longPositions < 0"><span class='arrow-down'></span></td>
          <td *ngIf="group.longPositions > 0"><span class='arrow-up'></span></td>
          <td>{{group.shortPositions}}</td>
          <td *ngIf="group.shortPositions < 0"><span class='arrow-down'></span></td>
          <td *ngIf="group.shortPositions > 0"><span class='arrow-up'></span></td>
          <td>{{group.changeLong}}</td>
          <td>{{group.changeShort}}</td>
          <td>{{group.percentageLong}}</td>
          <td>{{group.percentageShort}}</td>
          <td>{{group.netPositions}}</td>
          <td *ngIf="group.netPositions < 0"><span class='arrow-down'></span></td>
          <td *ngIf="group.netPositions > 0"><span class='arrow-up'></span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>