/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* html, body { height: 100%; }
body { margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    /* background-color: black; */
 /* } */



/* html, body { } */
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;  min-height: 100%; }

.container-fluid {    
    /* background-image: url(./assets/background1.jpg);    */
    /* min-height: 100%;  */
    min-height: 100vh;
}
